# Auth0 Configuration
AUTH0_DOMAIN=acme-bank-inc.us.auth0.com
AUTH0_AUDIENCE=https://api.acmebank.com

# Frontend Auth0 client ID (used at build time)
VITE_AUTH0_CLIENT_ID=cnCLsJ9gqA5AJKcndmUBdbZUf5eWFwh3
